@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    background: #ff9f64;
    height: 150vh
}

.movie-image {
    height: 300px;
    width: 175px;
}

.tv-show-image {
    height: 300px;
    width: 175px;
}

.anime-image {
    height: 300px;
    width: 175px;
}
